SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=a396be001@smtp-brevo.com
SMTP_PASS=xsmtpsib-09d9c208fa871f949e565f22560c45cec1d4bf670630b358d48f33d3d725a931-5PNhraTLArj5PKz9
CONTACT_TO_EMAIL=luis.szvi@gmail.com
CONTACT_FROM_EMAIL=no-reply@triplemelectric.ca
